<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyManifestVersion</key>
    <string>1.0</string>

    <key>NSPrivacyCollectedDataTypes</key>
    <array>
        <dict>
            <key>NSPrivacyCollectedDataType</key>
            <string>EmailAddress</string>
            <key>NSPrivacyCollectedDataTypeLinked</key>
            <true/>
            <key>NSPrivacyCollectedDataTypeTracking</key>
            <false/>
            <key>NSPrivacyCollectedDataTypePurposes</key>
            <array>
                <string>AccountManagement</string>
            </array>
            <key>NSPrivacyCollectedDataTypeRetention</key>
            <string>UntilAccountDeletion</string>
        </dict>
        <dict>
            <key>NSPrivacyCollectedDataType</key>
            <string>CrashData</string>
            <key>NSPrivacyCollectedDataTypeLinked</key>
            <false/>
            <key>NSPrivacyCollectedDataTypeTracking</key>
            <false/>
            <key>NSPrivacyCollectedDataTypePurposes</key>
            <array>
                <string>Analytics</string>
                <string>AppFunctionality</string>
            </array>
            <key>NSPrivacyCollectedDataTypeRetention</key>
            <string>Other</string>
        </dict>
        <dict>
            <key>NSPrivacyCollectedDataType</key>
            <string>UserID</string>
            <key>NSPrivacyCollectedDataTypeLinked</key>
            <true/>
            <key>NSPrivacyCollectedDataTypeTracking</key>
            <false/>
            <key>NSPrivacyCollectedDataTypePurposes</key>
            <array>
                <string>AppFunctionality</string>
            </array>
            <key>NSPrivacyCollectedDataTypeRetention</key>
            <string>UntilAccountDeletion</string>
        </dict>
    </array>
</dict>
</plist>
