<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyAzXG1OpG-__rgp0MR-1oA6sBT-i6jRxtw</string>
	<key>GCM_SENDER_ID</key>
	<string>653802016225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aydinkaya.MathQuizMastery</string>
	<key>PROJECT_ID</key>
	<string>mathquizmastery</string>
	<key>STORAGE_BUCKET</key>
	<string>mathquizmastery.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:653802016225:ios:d6594ef4911a3a2b3f96a0</string>
</dict>
</plist>
