<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>tr</string>
        <string>de</string>
        <string>es</string>
        <string>fr</string>
        <string>it</string>
        <string>pt-BR</string>
        <string>ja</string>
        <string>ko</string>
        <string>zh-Hans</string>
        <string>ar</string>
        <string>nl</string>
    </array>
    
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>

    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <!-- ATT: IDFA izin mesajı -->
    <key>NSUserTrackingUsageDescription</key>
    <string>This identifier will be used to deliver personalized ads and app analytics.</string>

    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>

    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
    </array>

</dict>
</plist>
